* {
  padding: 0;
  margin: 0
}

input:focus{
  outline: none;
  border-color: #666;
}
li {
  list-style-type: none;
}
.active {
  color: green!important;
}
.box{
  width: 960px;
  margin: 0 auto;
}
.content{
  padding: 4px;
  position: relative;
}
.nav{
  background-color: #e5e5e5;
  height: 48px;
}
.nav li{
  float: left;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 14px 15px;
}
.demo{

}